---
layout: default
---

{% include team.html %}

<section role="articles">
  <header>
    <h1>Articles</h1>
  </header>
  <ul>
    {% for post in site.posts %}
      {% include functions/author.liquid %}
    
      <li id="{{ post.id }}" class="post latest">
        <a href="{{ post.url }}">
          <h2>{{ post.title }}</h2>
          <img src="/images/{{ author.id }}.jpg" alt="{{ author.name }}" />
          <small>Written by {{ author.name }}</small>
          <time class="pubdate" datetime="{{ post.date }}" pubdate>{{ post.date | date_to_string }}</time>
        </a>
      </li>
    {% endfor %}
  </ul>
</section>
