<section role="opensource">
  <header>
    <h1>Our Open Source Projects</h1>
  </header>
  
  <ul>
    <li>
      <a href="https://github.com/gowalla/chronologic" title="Chronologic on GitHub">
        <img src="/images/chronologic.png" alt="Chronologic"/>
        Chronologic
      </a>
    </li>
    <li>
      <a href="https://github.com/gowalla/AFNetworking" title="AFNetworking on GitHub">
        <img src="/images/afnetworking.png" alt="AFNetworking"/>
        AFNetworking
      </a>
    </li>
    <li>
      <a href="https://github.com/gowalla/boxer" title="Boxer on GitHub">
        <img src="/images/boxer.png" alt="Boxer"/>
        Boxer
      </a>
    </li>
    <li></li>
  </ul>
</section>
