<section role="opensource">
  <header>
    <h1>Our Open Source Projects</h1>
  </header>
  <ul>
    <li>
      <a href="https://github.com/gowalla/chronologic">
        <img src="/images/chronologic.png" alt="Chronologic" />
        Chronologic
      </a>
    </li>
    <li>
      <a href="https://github.com/gowalla/AFNetworking">
        <img src="/images/afnetworking.png" alt="AFNetworking" />
        AFNetworking
      </a>
    </li>
    <li>
      <a href="https://github.com/gowalla/boxer">
        <img src="/images/boxer.png" alt="Boxer" />
        Boxer
      </a>
    </li>
    <li>
    </li>
  </ul>
</section>
